body {
  background: #fafafb;
  margin: 0;
  padding: 0;
}

.image-uploader {
  margin-top: 5rem;
}

.image-uploader-text {
  font-family: Poppins;
}

.bg-image {
  background: #f6f8fb;
}

.progress-bar {
  width: 20rem;
}

@media only screen and (max-width: 600px) {
  [class*='progress-bar'] {
    width: 15rem;
  }
}

@media only screen and (max-width: 500px) {
  [class*='progress-bar'] {
    width: 8rem;
  }
}

@media only screen and (max-width: 300px) {
  [class*='progress-bar'] {
    width: 3rem;
  }
}
